.modalContent {
  width: 750px;
  padding: 5px;
  background-color: white;
  border-radius: 2rem;
}

.modalContent h2 {
  text-align: center;
  padding: 10px;
}

.formGroup {
  margin-bottom: 10px;
}

.formGroup select {
  width: 300px;
}

.modalContent label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.modalContent input[type="checkbox"] {
  margin-right: 10px;
}

.modalContent input[type="text"],
.modalContent input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.cancelButton {
  background-color: rgb(175, 24, 24);
  color: white;
  padding: 10px 15px;
  border: none;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.modalContent input[type="file"] {
  display: none;
}

.customFileUpload::before {
  content: "🖼️";
  font-size: 40px;
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #888;
}

.customFileUpload {
  display: block;
  margin: 10px auto;
  width: 100%;
  max-width: 80px;
  height: 60px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  position: relative;
  color: #666;
  font-size: 0.9rem;
}

.modalForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 10px;
  gap: 20px;
}

.modalForm > div {
  width: 45%;
}

.modalButtons {
  display: flex;
  justify-content: center;
}

.modalButtons:has(button) {
  justify-content: space-between;
}
