.opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  gap: 30px;
  background-color: #110d4d;
}

.opcionesTitle {
  font-size: var(--text-xl);
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.opcion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 10px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  color: #fff;
  font-size: 1.3rem;
}

.active {
  background-color: #050237;
}

.opcion:hover {
  background-color: #050237;
}

.opcionesUl {
  width: 100%;
  height: 60%;
  max-height: 700px;
  list-style: none;
  overflow-y: auto;
}

.opcionesUl::-webkit-scrollbar {
  display: none;
}

.opcionesUl > a {
  text-transform: capitalize;
  text-decoration: none;
  margin-bottom: 1.2rem;
}
