.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.containerCategory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid rgb(187, 187, 187);
}
