.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--primary-color);
}

.companiesTitle {
  padding: 10px;
  font-size: var(--text-xl);
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.companiesUl {
  width: 100%;
  height: 75%;
  list-style: none;
  overflow-y: auto;
}

.companiesUl > li {
  margin-bottom: 1.2rem;
}
