.container {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: 250px repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.container > nav:first-child {
  grid-area: 1 / 1 / 2 / 2;
}

.container > section:first-child {
  grid-area: 1 / 2 / 2 / 4;
}
