.element {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 2px solid #ecf0f1;
}

.columnOne {
  text-align: center;
  flex-grow: 1;
}

.columnTwo {
  width: 250px;
  text-align: center;
}

.columnTwo:has(button) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
