.modalSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffff;
  gap: 20px;
}

.modalTitle {
  margin-top: 20px;
}

.modalForm {
  width: 90%;
}

.modalForm label {
  display: block;
  margin: 10px 0px;
}

.modalInput {
  width: 100%;
  padding: 7px 10px;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
