.card {
  position: relative;
  width: 230px;
  height: 45%;
  border-radius: 10px;
  box-shadow: -3px 6px 7px -3px rgba(181, 181, 181, 1);
  overflow: hidden;
  transition: transform 0.2s ease;
}

.card > img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.cardInfo {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 45%;
  border-radius: 20px 20px 0px 0px;
  background-color: #fff;
}

.cardInfo h3 {
  text-align: center;
  font-size: var(--text-lg);
}

.cardInfoh4 {
  font-size: var(--text-md);
}

.cardIcons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cardButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
