.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  max-width: 160px;
  padding: 6px 7px;
  font-size: var(--text-sm);
  background-color: transparent;
  border-radius: 10px;
  gap: 10px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.primary {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.primary:hover {
  background-color: #17153B;
}

.primary svg {
   fill: #fff
}

.secondary {
  border: 1px solid #17153B;
  color: #17153B;
}

.secondary svg {
   fill: #17153B
}

.secondary:hover {
  background-color: #17153B;
  color: #fff;
}

.secondary:hover svg {
  fill: #fff;
}

.tertiary{
  border: 1px solid #0093e9;
  color: #0093e9;
}

.tertiary svg {
   fill: #0093e9;
}

.tertiary:hover{
  border: 1px solid #0093e9;
  color: #fff;
  background-color: #0093e9
}

.tertiary:hover svg {
  fill: #fff;
}

.disabled {
  border: 1px solid #979696;
  color: #767676;
}

.disabled svg {
   fill: #767676;
}
