.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  max-width: 160px;
  padding: 6px 7px;
  font-size: var(--text-sm);
  background-color: transparent;
  border-radius: 7px;
  gap: 10px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.primary {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.primary:hover {
  background-color: #0f3b41;
}

.secondary {
  border: 1px solid #368f8b;
  color: #368f8b;
}

.secondary:hover {
  background-color: #368f8b;
  color: #fff;
}

.secondary:hover svg {
  fill: #fff;
}

.tertiary{
  border: 1px solid #0093e9;
  color: #0093e9;
}

.tertiary:hover{
  border: 1px solid #0093e9;
  color: #fff;
  background-color: #0093e9
}

.tertiary:hover svg {
  fill: #fff;
}

.disabled {
  border: 1px solid #fff;
}
