.contenedor {
  background-color: #ecf0f1;
  padding: 7px 20px;
}

.button {
  display: flex;
  justify-content: end;
  margin: 10px 0px;
}

.filter {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter select {
  padding: 7px 10px;
}

.tables {
  margin-top: 20px;
  height: 75vh;
  background-color: #fff;
  list-style: none;
  border-radius: 15px;
  overflow-y: auto;
}

.tables li p {
  padding: 15px 0px;
}

.element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.firstRow {
  font-size: 1.3rem;
  border-bottom: 1px solid #0093e9;
}

.column {
  text-align: center;
  width: 200px;
}

.lastColumn {
  width: 300px;
  text-align: center;
}

.columnTwo:has(button) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
