.container {
  display: grid;
  min-height: calc(100vh - 50px);
  grid-template-columns: minmax(250px, 15%) repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.container > nav {
  grid-area: 1 / 1 / 2 / 2;
}

.container > section {
  grid-area: 1 / 2 / 2 / 4;
}

.primary > section {
  background-color: #f1ecf3;
}

.secondary > section {
  background-color: #f1f0fe;
}
