.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.primary {
  background-color: var(--primary-background);
}

.secondary {
  background-color: var(--secondary-background);
}

.headerTitle {
  font-size: var(--text-xxl);
  font-weight: bold;
  color: #fff;
}
