.cardBranch {
  position: relative;
  min-width: 180px;
  flex-grow: 1;
  max-width: 20%;
  height: 45%;
  max-height: 300px;
  border-radius: 10px;
  box-shadow: -3px 6px 7px -3px rgba(181, 181, 181, 1);
  overflow: hidden;
  transition: transform 0.2s ease;
}

.cardBranch:hover {
  transform: scale(1.05);
}

.cardBranch > img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.infoBranch {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 40%;
  border-radius: 20px 20px 0px 0px;
  background-color: #fff;
}

.infoBranch h3 {
  font-size: var(--text-lg);
}

.infoBranch h4 {
  font-size: var(--text-md);
  font-weight: 300;
}

.infoIcons {
  display: flex;
  align-items: center;
  gap: 15px;
}
