.company {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 10px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.company:hover {
  background-color: #0f3b41;
}

.companyData {
  width: 60%;
}

.companyTitle {
  text-transform: uppercase;
  font-size: var(--text-lg);
  font-weight: bolder;
  color: #fff;
}

.companySubTitle {
  text-transform: uppercase;
  font-size: var(--text-sm);
  color: #ddeedd;
}

.companySvg {
  display: flex;
  width: 90px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.companyButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
