* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri;
}

*::selection {
  background-color: #2e236c;
  color: #fff;
}

body {
  overflow-y: hidden;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

:root {
  /*------- Tamaño Tipografia ------- */
  --text-xs: 0.789rem;
  --text-sm: 0.9rem;
  --text-md: 1.025rem;
  --text-lg: 1.106rem;
  --text-xl: 1.324rem;
  --text-xxl: 1.502rem;
  /* ------- Paleta de Colores ------- */
  --primary-color: #2e236c;
  --secondary-color: #368f8b;
  --primary-background: #170d37;
  --secondary-background: #160f29;
  --accent-color: #fff;
}
